<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">B1 Monthly Project</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Home</div>
                        <a class="nav-link" href="{{url_for('index')}}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            메인
                        </a>
                        <div class="sb-sidenav-menu-heading">EDA Reserch</div>
                        <a class="nav-link" href="{{url_for('load_ldy')}}">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            이다영
                        </a>
                        <a class="nav-link" href="{{url_for('load_sjs')}}">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            심준석
                        </a>
                        <a class="nav-link" href="{{url_for('load_pjh')}}">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            박준희
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Made by:</div>
                    인공지능 6기 B1반
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4 m-5">
                    <h2>본인 부담 의료비에 영향을 미치는 요소</h2>
                    <br>
                    <h4>가설 : Out of Pocket Health Expenditure에 영향을 미칠 것 같은 feature</h4>
                    <ul>
                        <li>Physicians per thousand : 인구 1000명당 의사 수</li>
                        <li>Population : 인구</li>
                        <li>Minimum wage : 최저임금</li>
                        <li>GDP : 국내 총 생산</li>
                        <li>Total tax rate : 상업적 이익에 대한 전체 세금부담 비율</li>
                    </ul>
                    <br>
                    <h4>각 변수간의 상관관계 시각화 (Heatmap)</h4>
                    <br>
                    <div class="container-fluid px-4">
                        <iframe srcdoc="{{result.heat}}" frameborder="0" width="90%" height="600"></iframe>
                    </div>
                    <br>
                    <h4>최저임금에 따른 본인부담 의료비 그래프</h4>
                    <br>
                    <div class="container-fluid px-4">
                        <iframe srcdoc="{{result.MinWage}}" frameborder="0" width="90%" height="600"></iframe>
                    </div>
                    최저임금이 높을수록 본인부담 의료비가 적은 나라의 분포가 많은 것을 볼 수 있음.
                    <div class="container-fluid px-4">
                        <iframe srcdoc="{{result.Physicians_per_thousand}}" frameborder="0" width="90%" height="600"></iframe>
                    </div>
                    상관계수를 봤을 때 0.121422로 연관성이 거의 없어보였고 산점도를 살펴봤을 때도 인구 수는 본인부담 의료비에 큰 영향을 끼치지 않는 것 같다.
                    <div class="container-fluid px-4">
                        <iframe srcdoc="{{result.GDP}}" frameborder="0" width="90%" height="600"></iframe>
                    </div>
                    GDP와 본인부담 의료비는 음의 상관관계를 가지지만 상관계수의 절대값이 높지 않고 그래프를 살펴봤을 때로 GDP에 따른 본인부담의료비의 분포가 큰 특징을 보이지 않기 때문에 관련성이 거의 없다고 볼 수 있다.
                    <div class="container-fluid px-4">
                        <iframe srcdoc="{{result.Total_tax_rate}}" frameborder="0" width="90%" height="600"></iframe>
                    </div>
                    상업적 이익에 대한 전체 세금부담 비율과 본인부담 의료비는 양의상관관계를 가지지만 상관계수가 높지 않고 그래프를 살펴봤을 때로 세금부담비율에 따른 본인부담의료비의 분포가 큰 특징을 보이지 않기 때문에 관련성이 거의 없다고 볼 수 있다.
                    <br>
                    <br>
                    <h4>결론</h4>
                    본인 부담 의료비는 최저임금과 인구 1000명당 의사수에 반비례하는 것을 알 수 있고 총 인구수와 GDP와는 관련이 없는것으로 볼 수 있다. 이전에 GDP가 높을 수록 본인부담 의료비가 적을 것이라고 생각했는데 예측이 빗나갔다.
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../static/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="../static/js/datatables-simple-demo.js"></script>
</body>
</html>